
.tag
	color #2568ca
	white-space pre

.class
	color #6cd0fe
	white-space pre

.text
	color #d4d4d4
	white-space pre

#body
	display flex
	flex-wrap wrap
	padding-top 66px
	height 100%
	// position absolute
	// top 0
	// right 0
	// bottom 0
	// left 0

.body_wrap
	display flex
	height 100%

#menu
	display none
	margin-top 60px
	padding-top 10px
	padding-bottom 10px
	color #eee
	background rgba(11, 11, 11, .8)
.see
	display block !important
.menu_item
	padding 5px 15px
.menu_item:hover
	background rgba(0, 0, 0, .8)