.body_wrap
	#menu
		.menu_item US
		.menu_item Language
		.menu_item Thems
		.menu_item Font size
		.menu_item Support
		.menu_item Author

	#body.container(onclick='menu_off()')
	//- .row
	//- 	.col
	//- 		.line.tag < div >
	//- 		.line.class class
	//- 		.line.text text
