.tag
	color #2568ca

.class
	color #6cd0fe

.text
	color #d4d4d4

.body
	padding-top 30px
	padding-top 9vh
	top 0
	right 0
	bottom 0
	left 0

.line
	display flex
	// margin-right -15px
	// margin-left -15px