.body_menu
	#menu
		.menu_item_wrap
			.menu_item EN
			.menu_item RU
		.menu_item Language
		.menu_item Thems
		.menu_item Font size
		.menu_item
		.menu_item Support
		.menu_item Author

	#body_wrap.container(onclick='menu_off()')
		#body
	//- .row
	//- 	.col
	//- 		.tag < div >
	//- 		.class class
	//- 		.text text
