
.tag
	color #27c
	white-space pre

.class
	color #7df
	white-space pre

.text
	color #eee
	white-space pre

.body_menu
	display flex
	height 100%

#body
	display flex
	flex-wrap wrap
	padding-top 88px

#menu
	display none
	margin-top 60px
	padding-top 10px
	padding-bottom 10px
	color #ccc
	background rgba(20, 20, 20, .4)

.see
	display block !important
	
.menu_item, .menu_item_wrap
	padding 5px 15px
	cursor pointer
.menu_item_wrap
	display flex
	padding 0

.menu_item:hover
	background #000
	color #fff