.body_menu
	#menu.see
		.menu_item_wrap
			.menu_item.menu_item_active.Lang_item#EN(onclick='Lang_toggle("EN")') ENG
			.menu_item.Lang_item#RU(onclick='Lang_toggle("RU")') РУС
		.menu_item_wrap
			.menu_item.Lang_item#ZHO(onclick='Lang_toggle("ZHO")') 中文
			.menu_item.Lang_item#SPA(onclick='Lang_toggle("SPA")') Español
		.menu_item.menu_item_header#Language Language
		.menu_item_wrap
			.menu_item.Language_item#language_HTML.accent(onclick='load_lang("HTML"); Language_active(this.id)') HTML
			.menu_item.Language_item#language_CSS(onclick='run_language(language_CSS); Language_active(this.id)') CSS
		.menu_item_wrap
			.menu_item.Language_item#language_JS(onclick='run_language(language_JS); Language_active(this.id)') JS
			.menu_item.Language_item#language_PYTON(onclick='run_language(language_PYTON); Language_active(this.id)') PYTON
		.menu_item_wrap
			.menu_item.Language_item#language_JAVA(onclick='run_language(language_JAVA); Language_active(this.id)') JAVA
			.menu_item.Language_item#language_C_sharp(onclick='run_language(language_C_sharp); Language_active(this.id)') C#
		.menu_item.menu_item_header#Theme Theme
		.menu_item_wrap
			.menu_item#Light(onclick='Theme_lite()') Light
			.menu_item#Dark(onclick='Theme_dark()') Dark
		.menu_item.menu_item_header#Font_size Font size
		.menu_item_wrap
			.menu_item(onclick='Font_size(-1)') -
			.menu_item#Font_size_data
			.menu_item(onclick='Font_size(1)') +
		.menu_item.menu_item_header#Support Support
		.menu_item#Author Author

	#body_wrap.container-fluid(onclick='menu_off()')
		#body
			//- .col
			//- 	.line
			//- 		.text(onclick='run_language(language_HTML)') HTML
			//- 	.line
			//- 		.text(onclick='run_language(language_CSS)') CSS
			//- .card