header
	display flex
	justify-content space-between
	align-items center
	top 0
	right 0
	left 0
	height 60px
	color #ccc
	z-index 1
	background-color rgba(8, 8, 8, .8)

#options
	display flex
	flex-direction column
	justify-content space-between
	height 100%
	width 60px
	padding 20px 18px

#options:hover
	background #000
	cursor pointer
#options:hover .burger_line
	background #fff

.burger_line
	height 2px
	width 100%
	background #ccc


.player
	display flex
	flex-direction column
	flex-grow 1
	height 100%

#wrapButtonPlayer
	display flex
	justify-content center
	height 70%
#wrapButtonPlayer *
	height 100%
	padding 3px 10px
#wrapButtonPlayer svg
	fill #ccc
	&:hover
		fill #fff
		cursor pointer

#rewind_play
	display none

#rewind
	display flex
	margin 0 5%
	width 90%
	background #222
	height 30%
	cursor pointer

.rewind_item
	display flex
	flex-grow 1
	height 100%
	background #444
	&:hover
		background #fff

.fullScreen
	height 100%
	width 60px
	padding 20px 18px
	&:hover
		background #000
		& .fullScreen_icon
			border solid 1px #fff
.fullScreen_icon
	border solid 1px #ccc
	height 100%
	width 100%

// @media (min-width: 1200px)

// .aside


// .content










