header
	align-items center
	top 0
	right 0
	left 0
	height 30px
	height 9vh
	color #fff
	z-index 1
	opacity 0
	background-color rgba(0, 0, 0, .8)
	&:hover
		opacity 1

// .item_menu

@media (min-width: 1200px)
	nav
		order 0
// .aside
	

// .content










