<!DOCTYPE html>
html#html(style='font-size: 22px')
	head
		title Learn all languages
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(href='style.css' rel='stylesheet' type='text/css')
	body.Theme_dark#full_screen
		include header
		include body

	script(defer src="audio.js")
	script(defer src="code.js")
	script(defer src="language-HTML.js")
	script(defer src="language-CSS.js")
	script(defer src="script.js")
	
	//- script(src=" http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46 ")